@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4f4f4f;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

nav .container-xxl {
  position: relative;
  /* background-color: #3792a4; */
  height: 68px;
}

nav .container-xxl a {
  color: white;
  font-size: 20px;
}

.nav-it .logo-insta img {
  position: absolute;
  left: 185px;
  top: 15px;
  width: 30px;
}

.d-flex {
  margin-right: 25px;
  gap: 15px;
}

.d-flex .btn {
  color: white;
  background-color: rgb(30, 29, 29);
  width: 150px;
}

.d-flex .btn:hover {
  background-color: #3c3b3b;
}

.logo-tg img {
  position: absolute;
  left: 315px;
  top: 15px;
  width: 30px;
}

.logo-hive img {
  position: absolute;
  top: -2px;
  left: 35px;
  width: 70px;
  transition: all 0.5s ease;
}

.logo-hive img:hover {
  background-color: white;
}

.navbar-nav {
  margin-left: 200px;
  gap: 40px;
}

.navbar {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  background-color: #24262b;
}

.dropdown-item {
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: #24262b;
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
}

.dropdown-menu > li > a:active {
  color: black;
  background-color: rgb(227, 222, 222);
}

.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
}

.container-xxl {
  background-color: #24262b;
}

.container-xxl .group-number {
  position: relative;
  color: #cecaca;
  font-size: 50px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
}

.container-xxl .group-number::before {
  content: "";
  position: absolute;
  left: 450px;
  bottom: 8px;
  background-color: #cecaca;
  height: 5px;
  width: 390px;
}

.section-one .container-xxl {
  align-items: center;
  height: 550px;
  background-color: #cecaca;
}

.section-one .text-images {
  margin-top: 27px;
}

.section-one {
  display: flex;
  align-items: center;
}

.col-7 > h1 {
  position: relative;
  text-align: center;
}

.col-7 > h1::before {
  content: "";
  position: absolute;
  left: 230px;
  bottom: -1px;
  background-color: #000000;
  height: 5px;
  width: 290px;
}

.col-7 > p {
  font-size: 30px;
}

.col-5 > img {
  border-radius: 50%;
}

section .container-xxl {
  height: 600px;
}

.carousel-control-prev-icon {
  background-image: url(./img/left-arrow.png);
}

.carousel-control-next-icon {
  background-image: url(./img/right-arrow.png);
}

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.card {
  height: 450px;
  transition: all 0.3s ease;
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  transition: all 0.3s ease;
}

.card-body {
  /* border-top: 3px solid #24262b; */
  background-color: #d9d9d9;
  transition: all 0.3s ease;
}

.card-body:hover {
  background-color: #828181;
}

.card-body .btn {
  border: none;
  background-color: #24262b;
}

.card-body .btn:hover {
  background-color: #464950;
}

.card:hover {
  transform: translateY(-20px);
  z-index: 10;
}

.card img {
  width: 100%;
  height: 100%;
}

/* .card {
  border: none;
  background-color: #d9d9d9;
} */

.carousel-indicators {
  bottom: -50px;
}

.col-5 {
  margin-left: auto;
  width: 450px;
  height: 500px;
}

.col-5 img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #24262b;
  padding: 70px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer .container {
  max-width: 1170px;
  margin: auto;
}

.footer .list {
  list-style: none;
  padding: 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col .list li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col .list li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .list li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* @media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
} */
